/* reusable_styles */
    * {
        box-sizing: border-box;
        padding: 0%;
        margin: 0%;
    }
    body {
        background: #07031E;
        font-family: 'Montserrat Alternates', sans-serif;
        color: #FFFFFF;
    }

    .mgt_24 { margin-top: 24px !important; }
    .mgt_50 { margin-top: 50px !important; }
    .mgt_80 { margin-top: 80px !important; }
    .mgt_120 { margin-top: 120px !important; }
    .mgt_40 { margin-top: 40px !important; }
    .mgt_150 { margin-top: 150px !important; }


    .container {
        max-width: 1299px;
        margin: auto;
    }


    .btn_blue {
        width: 100%;
        border-radius: 10px;
        padding: 20px 0px 20px 0px;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        cursor: pointer;
        font-family: 'Montserrat Alternates';
        font-style: normal;
        color: #FFFFFF;
        background: #009DE2;
        border: none;
    }
    .btn_blue-dark {
        width: 100%;
        border-radius: 10px;
        padding: 20px 0px 20px 0px;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        cursor: pointer;
        font-family: 'Montserrat Alternates';
        font-style: normal;
        color: #FFFFFF;
        background: none;
        border: 1px solid #009DE2;
    }
    .input {
        display: block;
        width: 100%;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
        background: none;
        outline: none;
        border-radius: 10px;
        padding: 20px 0px 20px 30px;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        font-family: 'Montserrat Alternates';
    }
    .input::-webkit-input-placeholder { color: #FFFFFF; }
    .blue_arrow-down {
        width: 50px;
        height: 50px;
        background: #009DE2;
        border-radius: 50%;
        position: relative;
        margin: auto;
        margin-top: 30px;
        cursor: pointer;
    }
    .blue_arrow {
        position: absolute;
        left: 16px;
        top: 19px;
    }


    .backdrop_with_pattern {
        background: url('/assets/ico/shapes-l.svg') no-repeat, url('/assets/ico/shapes-r.svg') no-repeat ;
        background-position: left, right -100px;
        height: 2766px;
    }
    .backdrop_with_pattern-second {
        background: 
            url("/assets/ico/gold_bounce.svg") no-repeat,
            url("/assets/img/i8.png") no-repeat,
            url("/assets/ico/circle_pink_blur.svg") no-repeat
        ;
        background-size: 430px, 156px, 366px;
        background-position: 
            left -200px top 100%,
            right 520px bottom 0,
            right 0px bottom -100px
        ;
        height: 800px;
    }


    .breadcrumb {
        margin-bottom: 18px;
    }


    .title {
        font-weight: 700;
        font-size: 60px;
        line-height: 85px;
    }


    .cards--container {
        display: flex;
        flex-wrap: wrap;
        grid-column-gap: 39px;
    }
    .card--contaienr {
        margin: 40px 0px 80px 0px;
        max-width: 408px;
    }
    .card--image-container { position: relative; }
    .card--image-container img { border-radius: 20px; }
    .card--age {
        position: absolute;
        top: 40px;
        left: 40px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }
    .card--title {
        position: absolute;
        bottom: 40px;
        left: 40px;
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
        line-height: 26px;
    }
    .card--navigation {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        align-items: center;
        grid-column-gap: 93px;
    }
    .card--navigation-child1 {
        max-width: 50%;
    }
    .card--navigation p {
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 43px;
    }
    .card--soon {
        width: 407px;
        height: 250px;
        border: 2px solid #009DE2;
        border-radius: 10px;
    }
    .card--soon p {
        text-align: center;
        margin: auto;
        margin-top: 17%;
        max-width: 150px;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
    }


    .card--big {
        overflow: hidden;
        overflow-y: hidden;
        max-width: 407px;
        border-radius: 10px;
        background: #FFFFFF;
        margin-bottom: 40px;
    }
    .card--data-big {
        padding: 20px 0px 20px 40px;
    }
    .card--title-big {
        font-weight: 700;
        font-size: 21px;
        line-height: 26px;
        color: #009DE2;
    }
    .card--info-big {
        display: flex;
        color: #828282;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        grid-column-gap: 40px;
        margin-top: 15px;
    }
    .card--txt-big {
        margin-top: 20px;
    }
    .card--txt-big p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #07031E;
    }


    .title_content--buttons {
        display: flex;
        margin-top: 40px;
        grid-column-gap: 30px;
    }
    .title_content--container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .title_content {
        max-width: 700px;
    }
    .title_content p {
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
    }
    .title_content h1 {
        margin-bottom: 40px;
    }


    .line {
        width: 100%;
        height: 2px;
        background:#FFFFFF;
        opacity: 0.2;
    }


    .container--box_small_image {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 40px;
        margin-left: 40px;
        grid-row-gap: 40px;
    }
    .box--big_image{
        position: relative;
        overflow: hidden;
    }
    .box--big_image-txt{
        position: absolute;
        background: linear-gradient(0deg, #141414 0%, rgba(46, 46, 46, 0.6) 80.33%, rgba(16, 16, 16, 0.1) 100%);
        border-radius: 0px 0px 8px 8px;
        width: 100%;
        bottom: 0px;
        left: 0px;
        right: 0;
        padding: 20px 0px 30px 18px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
    }
    .box_small_image {
        position: relative;
        overflow: hidden;
    }
    .box_small_image-txt {
        position: absolute;
        background: linear-gradient(0deg, #141414 0%, rgba(46, 46, 46, 0.6) 80.33%, rgba(16, 16, 16, 0.1) 100%);
        border-radius: 0px 0px 8px 8px;
        width: 100%;
        bottom: 0px;
        left: 0px;
        right: 0;
        padding: 20px 0px 30px 18px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
    }


/* other */
    .information_about {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        text-align: center;
        padding: 40px 0px 50px 0px;
    }
    .information_about h3 {
        color: #009DE2;
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
    }
    .information_about p {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }


    .benefits {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 30px;
    }
    .benefits--data {
        padding: 30px 48px 30px 48px;
        background: #463a53;
        backdrop-filter: blur(150px);
        border-radius: 24px;
        text-align: center;
    }
    .benefits--data p {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }


    .news {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .news img {
        width: 100%;
        height: 100%;
    }


    .map img {
        width: 100%;
    }


    .calendar {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #009DE2;
        border-radius: 10px;
        letter-spacing: 1px;
    }
    .table_head { border: 1px solid #009DE2; }
    .table_head th {
        border: 1px solid #009DE2;
        padding: 4px 72px;
    }
    .table_body { border: 1px solid #009DE2; }
    .table_body th {
        border: 1px solid #009DE2;
        padding: 13px 11px;
    }
    .table_data p {
        font-weight: 500;
        font-size: 15px;
        line-height: 140%;
    }
    .table_data p:nth-child(1) {
        text-align: end;
        margin-bottom: 6px;
    }
    .table_data p:nth-child(2) { margin-bottom: 6px; }
    .table_date {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #009DE2;
        margin-top: 10px;
    }
    .calendar_mobile {
        display: none;
        margin-top: 40px;
        border: 1px solid #009DE2;
        width: 100%;
        border-collapse: collapse;
    }
    .table_head-mobile {
        padding: 12px;
        border: 1px solid #009DE2;
    }
    .table_body-mobile {
        border: 1px solid #009DE2;
        border-collapse: collapse;
        padding: 20px;
        text-align: start;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
    }
    .table_body-mobile-data {
        display: flex;
        margin-bottom: 10px;
    }


    .user_profile--container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .user_profile {
        display: flex;
    }
    .user_profile--data {
        margin-left: 16px;
    }
    .user_profile--data p {
        margin-bottom: 8px;
    }
    .user_profile--name-edit {
        display: flex;
        color: #009DE2;
        grid-column-gap: 13px;
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 20px;
        line-height: 29px;
    }
    .user_profile--name-edit img {
        cursor: pointer;
    }
    .user_profile--score {
        display: none;
    }
    .user_profile-avatar-container {
        position: relative;
        transition: .2s;
        cursor: pointer;
    }
    .user_prfile-change_avatar {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: .2s;
    }
    .user_prfile-change_avatar img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .user_profile-avatar-container:hover .user_prfile-change_avatar {
        opacity: 1;
        background: linear-gradient(0deg, rgba(0, 157, 226, 0.7), rgba(0, 157, 226, 0.7));
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }


    .messanger_users--container {
        display: flex;
        border: 1px solid gray;
        border-radius: 4px;
        height: 604px;
        width: 100%;
    }
    .messanger_users {
        width: 40%;
        overflow: scroll;
        overflow-x: hidden;
    }
    .messanger_users::-webkit-scrollbar {
        width: 6px;
    }
    .messanger_users::-webkit-scrollbar-track {
        background: #FFFFFF;
        border-radius: 4px;
    }
    .messanger_users::-webkit-scrollbar-thumb {
        background: #009DE2;
        border-radius: 4px;
        border: 1px solid #FFFFFF;
    }
    .user--container {
        display: flex;
        grid-column-gap: 10px;
        border: 1px solid #39354b;
        padding: 30px;
        align-items: center;
        position: relative;
    }
    .user--container:hover {
        background: #39354b;
        cursor: pointer;
    }
    .user--container p:nth-child(1){
        margin-bottom: 5px;
        color: #009DE2;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
    }
    .messanger--email {
        width: 100%;
        overflow: scroll;
        overflow-x: hidden;
        padding: 30px;
    }
    .messanger--email::-webkit-scrollbar {
        width: 6px;
    }
    .messanger--email::-webkit-scrollbar-track {
        background: #FFFFFF;
        border-radius: 4px;
    }
    .messanger--email::-webkit-scrollbar-thumb {
        background: #009DE2;
        border-radius: 4px;
        border: 1px solid #FFFFFF;
    }
    .email {
        background: #FFFFFF;
        box-shadow: 2px 4px 20px rgba(0, 157, 226, 0.35);
        border-radius: 24px;
        width: 100%;
        padding: 30px;
    }
    .email h3 {
        color: #07031E;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 14px;
    }
    .email p {
        color: #07031E;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
    }
    .messanger_required {
        width: 8px;
        height: 8px;
        background: #EC0E00;
        border-radius: 50%;
        position: absolute;
        right: 15px;
        top: 15px;
    }


    .news_list {
        font-weight: 600;
        font-size: 15px;
        line-height: 29px;
    }
    .news_list h1 {
        font-weight: 700;
        font-size: 44px;
        line-height: 60px;
    }
    .news_list h3 {
        margin-top: 20px;
        color: #009DE2;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }
    .news_list h4:nth-child(8),
    .news_list h4:nth-child(22),
    .news_list h4:nth-child(30) {
        color: #009DE2;
        font-weight: 600;
        font-size: 18px;
        line-height: 29px;
    }
    .news_list p { text-indent: 20px; }
    .news_list ol { margin-left: 20px; }


    .page_selector--container {
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between
    }
    .page_selector {
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-gap: 12px;
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
    }
    .page_selector:hover{
        color: #009DE2;
        stroke: #009DE2;
    }
    .page_selector:hover path {
        stroke: #009DE2;
    }


    .fixed_ico--tg {
        position: fixed;
        right: 300px;
        top: 550px;
        z-index: 2;
        cursor: pointer;
    }
    .fixed_ico--tg:hover {
        border: 4px solid #009DE2;
        border-radius: 50%;
    }


    .progress_line-container {
        display: none;
        width: 100%;
        height: 4px;
        background: #D9D9D9;
        border-radius: 2px;
    }
    .progress_line {
        height: 4px;
        width: 125px;
        background: #76B728;
        border-radius: 2px;
    }
    .progress_line-percentage {
        display: none;
        font-weight: 500;
        font-size: 15px;
        line-height: 12px;
        color: #828282;
        text-align: center;
        margin-top: 6px;
    }


    #scroll-btn {
        opacity: 0;
        width: 60px;
        height: 60px;
        background: url(/assets/ico/arrow_scroll_up.svg) no-repeat;
        background-position: left 19px top 22px;
        background-color: #009DE2;
        position: fixed;
        left: 200px;
        bottom: 70px;
        border-radius: 50%;
        transition: opacity 0.5s, transform 0.5s;
        border: 1px solid #009DE2;
        cursor: pointer;
    }
    #scroll-btn.show {
        opacity: 1;
        transition: opacity 1s, transform 1s;
    }


    .slider {
        width: 1710px;
        display: flex;
        margin: auto;
        align-items: center;
    }
    .slider-container { overflow: hidden; }
    .slider-track {
        display: flex;
        transition: .2s;
    }
    .slider-item {
        text-align: center;
        position: relative;
    }
    .slider-item h3 {
        margin: auto;
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        width: 375px;
    }
    .slider-item p {
        margin: auto;
        font-weight: 500;
        font-size: 22px;
        line-height: 32px;
        margin-top: 10px;
        width: 375px;
    }
    .slider-item img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
    .si-ch1 { border: 10px solid #FCC200; }
    .si-ch2 { border: 10px solid #FCC200; }
    .si-ch3 { border: 10px solid #5E4E9B; }
    .si-ch4 { border: 10px solid #E4310E; }
    .si-ch5 { border: 10px solid #009DE2; }
    .slider-empty-bounce {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 140px 0px 0px 0px;
        opacity: 0.3;
        background: black;
        position: absolute;
        top: 0;
        right: 0px;
    }
    .seb1 { background: #134093; }
    .seb2 { background: #00953F; }
    .seb3 { background: #E4310E; }
    .seb4 { background: #009DE2; }
    .btn-prev {
        cursor: pointer;
        background: #009DE2;
        border-radius: 50%;
        position: relative;
        padding: 30px 40px;
        border: 1px solid #009DE2;
    }
    .btn-next {
        cursor: pointer;
        background: #76B82A;
        border: 1px solid #76B82A;
        border-radius: 50%;
        position: relative;
        padding: 30px 40px;
    }
    .slider-item-md {
        padding: 40px;
        text-align: center;
        align-self: flex-end;
    }
    .btn-prev-md { cursor: pointer; }
    .btn-next-md { cursor: pointer; }
    .slider-buttons {
        justify-content: center;
        margin-top: 60px;
        display: flex;
        align-items: center;
        grid-column-gap: 25px;
    }


    .authorisation--title {
        max-width: 677px;
    }
    .authorisation--form-container { position: relative; }
    .authorisation--form {
        margin: auto;
        width: 400px;
        margin-top: 80px !important;
    }
    .authorisation--form input { margin-bottom: 25px; }
    .authorisation--form-title {
        font-weight: 700;
        font-size: 35px;
        line-height: 43px;
        margin-bottom: 40px;
        text-align: center;
    }
    .authorisation--form-forgot_password {
        margin-top: 10px;
        text-decoration:underline;
        text-align: end;
        cursor: pointer;
    }
    .authorisation--registration-form {
        display: none;
    }


    .profession_card--data-title {
        font-weight: 700;
        font-size: 60px;
        line-height: 85px;
        margin-bottom: 40px;
    }
    .profession_card--info-container {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        align-items: center;
    }
    .profession_card--info-container h1 {
        font-weight: 700;
        font-size: 35px;
        line-height: 43px;
    }
    .profession_card--info-btn-container {
        display: flex;
        grid-column-gap: 20px;
    }
    .profession_card--info-btn {
        border: 2px solid #009DE2;
        border-radius: 10px;
        padding: 10px;
    }
    .profession_card--info-about_txt {
        margin-top: 33px;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
    }
    .profession_card--info-line {
        width: 250px;
        height: 4px;
        background: #D9D9D9;
        position: relative;
    }
    .profession_card--info-line-progress_percentage {
        position: absolute;
        background: #76B728;
        width: 125px;
        height: 4px;
    }
    .profession_card--info-txt {
        display: flex;
        grid-column-gap: 20px;
    }
    .profession_card--info-txt p:nth-child(2){
        max-width: 152px;
    }
    .profession_card--info-line-container {
        display: flex;
        align-items: center;
        grid-column-gap: 10px;
    }
    .demo_lesson--container {
        margin: 120px 0px 150px 0px;
    }


    .profile--container {
        margin-top: 50px !important;
        display: flex;
        justify-content: space-between;
    }
    .scores--container {
        text-align: center;
    }
    .scores--container h1:nth-child(2) {
        color: #009DE2;
    }
    .scores--container img {
        margin-top: 16px;
    }


    .label {
        cursor: pointer;
    }
    .checkbox {
        display: none;
    }
    .fake {
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 2px solid #009DE2;
        position: relative;
    }
    .fake::before {
        content: '';
        position: absolute;
        display: block;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: #009DE2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: .2s;
    }
    .checkbox:checked + .fake::before {
        opacity: 1;
    }












.entrepreneurship--container {
    margin-top: 40px !important;
    position: relative;
}
.entrepreneurship {
    margin-top: 18px;

}
.entrepreneurship--cards {
    display: flex;
    flex-wrap: wrap;
}
.entrepreneurship h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
}
.entry--card-container { 
    margin: 40px 0px 80px 0px;
    max-width: 408px;
}
.entry--card-container-img { position: relative; }
.entry--card-container-img img { border-radius: 20px; }
.entry--card-title {
    position: absolute;
    bottom: 40px;
    left: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}
.entry--card-age {
    position: absolute;
    top: 40px;
    left: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.entry--card-container-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    grid-column-gap: 93px;
}
.entry--card-container-nav p {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
}
.vector-img-l {
    position: absolute;
    left: 0;
    top: 260px;
}
.vector-img-r {
    position: absolute;
    right: 0;
    top: 160px;
}

@media screen and (max-width: 425px) {

    .my_degrees--container h1 {
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
    }

    .profession_card--data-title {
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
    }
    .profession_card--data-container img {
        width: 100%;
    }
    .profession_card--data-container {
        padding: 0px 24px 0px 24px;
    }
    .profession_card--info-container {
        display: block !important;
    }
    .profession_card--info-btn-container {
        margin-top: 30px;
        grid-column-gap: 60px;
    }
    .profession_card--info-txt {
        margin-top: 30px;
        grid-column-gap: 55px;
    }
    .profession_card--info-line-container {
        margin-top: 30px;
    }
    .profession_card--info-line {
        width: 100%;
    }
    .demo_lesson--container {
        padding: 0px 24px 0px 24px;
        margin: 60px 0px 60px 0px;
    }
    .demo_lesson--container iframe {
        width: 100%;
    }
    .entrepreneurship h1 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }
    .entrepreneurship--container {
        padding: 0px 24px 0px 24px;
    }
    .entry--card-container { 
        max-width: 100%;
    }
    .entrepreneurship--cards {
        display: block;
    }
    .entry--card-container-img img {
        width: 100%;
    }
}


.title_content_main-container {
    display: flex;
    justify-content: space-between;
}
.title_content_main-title {
    max-width: 400px;
    font-weight: 700;
    font-size: 60px;
    line-height: 85px;
}
.title_content_main-mini_cards {
    display: flex;
    grid-column-gap: 20px;
}
.title_content_main-mini_cards img {
    border: 2px solid #009DE2;
    border-radius: 10px;
    cursor: pointer;
}
.title_content_main-mini_cards img:nth-child(2),
.title_content_main-mini_cards img:nth-child(3) {
    opacity: 0.3;
}
.title_content_main-buttons {
    display: flex;
    grid-column-gap: 30px;
}
.title_content_main-big_image {
    width: 629px;
    height: 596px;
    background: 
        url('/assets/ico/child.svg') no-repeat,
        url('/assets/ico/circle pink.svg') no-repeat,
        url('/assets/ico/circle orange.svg') no-repeat
    ;
    background-size: 529px, 136px, 271px;
    background-position: 
        right,
        top 40px right 0,
        left 0 bottom 0
    ;
}