/* reusable_styles */
    * {
        box-sizing: border-box;
        padding: 0%;
        margin: 0%;
    }
    body {
        background: #07031E;
        font-family: 'Montserrat Alternates', sans-serif;
        color: #FFFFFF;
    }

    .mgt_50 { margin-top: 50px !important; }
    .mgt_80 { margin-top: 80px !important; }
    .mgt_120 { margin-top: 120px !important; }
    .mgt_40 { margin-top: 40px !important; }

    .container {
        max-width: 1299px;
        margin: auto;
    }
    .margin_container {
        margin-top: 50px !important;
    }

    .btn_blue {
        width: 100%;
        border-radius: 10px;
        padding: 20px 0px 20px 0px;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        cursor: pointer;
        font-family: 'Montserrat Alternates';
        font-style: normal;
        color: #FFFFFF;
        background: #009DE2;
        border: none;
    }
    .btn_blue-dark {
        width: 100%;
        border-radius: 10px;
        padding: 20px 0px 20px 0px;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        cursor: pointer;
        font-family: 'Montserrat Alternates';
        font-style: normal;
        color: #FFFFFF;
        background: none;
        border: 1px solid #009DE2;
    }
    .input {
        display: block;
        width: 100%;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
        background: none;
        outline: none;
        border-radius: 10px;
        padding: 20px 0px 20px 30px;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        font-family: 'Montserrat Alternates';
    }
    .input::-webkit-input-placeholder { color: #FFFFFF; }
    .blue_arrow-down {
        width: 50px;
        height: 50px;
        background: #009DE2;
        border-radius: 50%;
        position: relative;
        margin: auto;
        margin-top: 30px;
        cursor: pointer;
    }
    .blue_arrow {
        position: absolute;
        left: 16px;
        top: 19px;
    }

    .backdrop_with_pattern {
        background: url('/assets/ico/shapes-l.svg') no-repeat, url('/assets/ico/shapes-r.svg') no-repeat ;
        background-position: left, right -100px;
        height: 2766px;
    }
    .backdrop_with_pattern-second {
        background: 
            url("/assets/ico/gold_bounce.svg") no-repeat,
            url("/assets/img/i8.png") no-repeat,
            url("/assets/ico/circle_pink_blur.svg") no-repeat
        ;
        background-size: 430px, 156px, 366px;
        background-position: 
            left -200px top 100%,
            right 520px bottom 0,
            right 0px bottom -100px
        ;
        height: 800px;
    }

    .breadcrumb {
        margin-bottom: 18px;
    }

    .title {
        font-weight: 700;
        font-size: 60px;
        line-height: 85px;
    }

    .cards--container {
        display: flex;
        flex-wrap: wrap;
        grid-column-gap: 39px;
    }
    .card--contaienr {
        margin: 40px 0px 80px 0px;
        max-width: 408px;
    }
    .card--image-container { position: relative; }
    .card--image-container img { border-radius: 20px; }
    .card--age {
        position: absolute;
        top: 40px;
        left: 40px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }
    .card--title {
        position: absolute;
        bottom: 40px;
        left: 40px;
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
        line-height: 26px;
    }
    .card--navigation {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        align-items: center;
        grid-column-gap: 93px;
    }
    .card--navigation-child1 {
        max-width: 50%;
    }
    .card--navigation p {
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 43px;
    }

    .title_content--buttons {
        display: flex;
        margin-top: 40px;
        grid-column-gap: 30px;
    }
    .title_content--container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .title_content {
        max-width: 700px;
    }
    .title_content p {
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
    }
    .title_content h1 {
        margin-bottom: 40px;
    }

    .line {
        width: 100%;
        height: 2px;
        background:#FFFFFF;
        opacity: 0.2;
    }

    .container--box_small_image {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 40px;
        margin-left: 40px;
        grid-row-gap: 40px;
    }
    .box--big_image{
        position: relative;
        overflow: hidden;
    }
    .box--big_image-txt{
        position: absolute;
        background: linear-gradient(0deg, #141414 0%, rgba(46, 46, 46, 0.6) 80.33%, rgba(16, 16, 16, 0.1) 100%);
        border-radius: 0px 0px 8px 8px;
        width: 100%;
        bottom: 0px;
        left: 0px;
        right: 0;
        padding: 20px 0px 30px 18px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
    }
    .box_small_image {
        position: relative;
        overflow: hidden;
    }
    .box_small_image-txt {
        position: absolute;
        background: linear-gradient(0deg, #141414 0%, rgba(46, 46, 46, 0.6) 80.33%, rgba(16, 16, 16, 0.1) 100%);
        border-radius: 0px 0px 8px 8px;
        width: 100%;
        bottom: 0px;
        left: 0px;
        right: 0;
        padding: 20px 0px 30px 18px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
    }

/* other */
    .information_about {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        text-align: center;
        padding: 40px 0px 50px 0px;
    }
    .information_about h3 {
        color: #009DE2;
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
    }
    .information_about p {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }

    .benefits {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 30px;
    }
    .benefits--data {
        padding: 30px 48px 30px 48px;
        background: #463a53;
        backdrop-filter: blur(150px);
        border-radius: 24px;
        text-align: center;
    }
    .benefits--data p {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    .news {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .news img {
        width: 100%;
        height: 100%;
    }








.my_courses--container { margin-top: 50px !important; }
.my_courses--profile-container {
    max-width: 408px;
    display: flex;
    align-items: center;
}
.my_courses--profile-avatar {
    width: 156px;
    height: 156px;
    margin-right: 16px;
}
.my_courses--profile-info_user h3 {
    color: #009DE2;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.my_courses--profile-info_user p { margin-bottom: 8px; }
.my_courses--profile-info_user-title { display: flex; }
.my_courses--profile-info_user-title img {
    padding: 0px 0px 20px 13px;
    cursor: pointer;
}

.my_courses--cards-container { margin-top: 50px; }
.my_courses--cards-container h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    margin-bottom: 50px;
}
.my_courses--cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.my_courses--card {
    overflow: hidden;
    overflow-y: hidden;
    width: 407px;
    height: 450px;
    border-radius: 10px;
    background: #FFFFFF;
    margin-bottom: 40px;
}
.my_courses--card-data-container {
    padding: 30px 40px 30px 40px;
}
.my_courses--card-data-container h3 {
    color: #009DE2;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}
.my_courses--card-data-info {
    margin-top: 15px;
    display: flex;
    grid-column-gap: 40px;
}
.my_courses--card-data-info p {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #07031E;
}
.my_courses--card-data-progress_line {
    margin-top: 51px;
    width: 100%;
    height: 4px;
    background: #D9D9D9;
    position: relative;
}
.my_courses--card-data-progress-percentage {
    text-align: center;
    color: #07031E;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    margin-top: 5px;
}
.my_courses--card-data-progress {
    position: absolute;
    background: #76B728;
    width: 160px;
    height: 4px;
}
.my_courses--card-data-about {
    margin-top: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #07031E;
    overflow: scroll;
    height: 80px;
}
.soon {
    border: 2px solid #009DE2;
    background: none;
}
.soon p {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    padding: 185px 123px 184px 124px;
    text-align: center;
}



.authorisation--title {
    max-width: 677px;
}
.authorisation--form-container { position: relative; }
.authorisation--form {
    margin: auto;
    width: 400px;
    margin-top: 80px !important;
}
.authorisation--form input { margin-bottom: 25px; }
.authorisation--form-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    margin-bottom: 40px;
    text-align: center;
}
.authorisation--form-forgot_password {
    margin-top: 10px;
    text-decoration:underline;
    text-align: end;
    cursor: pointer;
}
.authorisation--registration-form {
    display: none;
}


.my_degrees--container {
    margin-top: 50px;
}
.my_degrees--container h1 {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 60px;
    line-height: 85px;
}
.my_degrees--img-container {
    display: flex;
    grid-column-gap: 40px;
    overflow: scroll;
}
.my_degrees--img-container img {
    height: 100%;
    align-self: flex-end;
}
.my_degrees--nav-container {
    margin-top: 60px;
    text-align: center;
}
.my_degrees--nav-container input {
    margin: 0px 15px 0px 15px;
    cursor: pointer;
}

.profession_card--container {
    margin-top: 40px !important;
}

/* .profession_card--data-container {

} */
.profession_card--data-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 85px;
    margin-bottom: 40px;
}
.profession_card--info-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
}
.profession_card--info-container h1 {
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
}
.profession_card--info-btn-container {
    display: flex;
    grid-column-gap: 20px;
}
.profession_card--info-btn {
    border: 2px solid #009DE2;
    border-radius: 10px;
    padding: 10px;
}
.profession_card--info-about_txt {
    margin-top: 33px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}
.profession_card--info-line {
    width: 250px;
    height: 4px;
    background: #D9D9D9;
    position: relative;
}
.profession_card--info-line-progress_percentage {
    position: absolute;
    background: #76B728;
    width: 125px;
    height: 4px;
}
.profession_card--info-txt {
    display: flex;
    grid-column-gap: 20px;
}
.profession_card--info-txt p:nth-child(2){
    max-width: 152px;
}
.profession_card--info-line-container {
    display: flex;
    align-items: center;
    grid-column-gap: 10px;
}
.demo_lesson--container {
    margin: 120px 0px 150px 0px;
}

.profile--container {
    margin-top: 50px !important;
    display: flex;
    justify-content: space-between;
}
.scores--container {
    text-align: center;
}
.scores--container h1:nth-child(2) {
    color: #009DE2;
}
.scores--container img {
    margin-top: 16px;
}
.calendar--container {
    margin-top: 50px !important;
}
.calendar {
    border: 2px solid #009DE2;
    border-radius: 10px;
    margin-top: 50px !important;
    display: grid;
}
.calendar--days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-left: 30px;
}
.calendar--days-day-start {
    border-left: 2px solid #009DE2;
    border-right: 2px solid #009DE2;
    border-bottom: 2px solid #009DE2;
    padding: 4px 0px 3px 0px;
}
.calendar--days-day {
    border-right: 2px solid #009DE2;
    border-bottom: 2px solid #009DE2;
    padding: 4px 0px 3px 0px;
}
.calendar--days-day-end {
    border-bottom: 2px solid #009DE2;
    padding: 4px 0px 3px 0px;
}
.calendar--numbers { display: block; }
.calendar--numbers-flex { display: flex; }
.calendar--numbers p:nth-child(1) {
    border-right: 2px solid #009DE2;
    border-bottom: 2px solid #009DE2;
    border-top: 2px solid #009DE2;
    padding: 61px 12px 61px 12px;
    max-width: 31px;
}
.calendar--numbers p:nth-child(2),
.calendar--numbers p:nth-child(3),
.calendar--numbers p:nth-child(4),
.calendar--numbers p:nth-child(5),
.calendar--numbers p:nth-child(6),
.calendar--numbers p:nth-child(7) {
    border-right: 2px solid #009DE2;
    border-bottom: 2px solid #009DE2;
    padding: 61px 12px 61px 12px;
    max-width: 31px;
}
.calendar--numbers-data {
    border-right: 2px solid #009DE2;
    border-bottom: 2px solid #009DE2;
    width: 180px;
}
.calendar--numbers-data-end {
    border-right: 2px solid #009DE2;
    width: 180px;
}

.entrepreneurship--container {
    margin-top: 40px !important;
    position: relative;
}
.entrepreneurship {
    margin-top: 18px;

}
.entrepreneurship--cards {
    display: flex;
    flex-wrap: wrap;
}
.entrepreneurship h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
}
.entry--card-container { 
    margin: 40px 0px 80px 0px;
    max-width: 408px;
}
.entry--card-container-img { position: relative; }
.entry--card-container-img img { border-radius: 20px; }
.entry--card-title {
    position: absolute;
    bottom: 40px;
    left: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}
.entry--card-age {
    position: absolute;
    top: 40px;
    left: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.entry--card-container-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    grid-column-gap: 93px;
}
.entry--card-container-nav p {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
}
.vector-img-l {
    position: absolute;
    left: 0;
    top: 260px;
}
.vector-img-r {
    position: absolute;
    right: 0;
    top: 160px;
}

@media screen and (max-width: 425px) {
    .my_courses--container { 
        padding: 0px 24px 0px 24px;
    }
    .my_courses--profile-info_user h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 29px;
    }
    .my_courses--profile-info_user p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
    .my_courses--profile-avatar {
        width: 100px;
        height: 100px;
    }
    .my_courses--profile-container {
        align-items: flex-start;
    }


    .authorisation--container {
        padding: 0px 24px 0px 24px;
    }
    .authorisation--title {
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        width: 183px;
    }
    .authorisation--registration-form {
        display: block;
        margin-top: 30px;
    }
    .authorisation--registration-form h1 {
        display: block;
        margin-bottom: 30px;
    }
    .authorisation--img1 {
        position: absolute;
        left: 200px;
        top: -220px;
        width: 140px;
        z-index: 1;
    }
    .authorisation--img1 img { height: 140px; }
    .authorisation--img2 { display: none; }
    .authorisation--img3 {
        position: absolute;
        left: 200px;
        top: -240px;
        width: 186px;
    }
    .authorisation--img3 img {
        height: 186px;
        transform: rotate(-130deg);
    }

    .my_degrees--container h1 {
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
    }

    .profession_card--data-title {
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
    }
    .profession_card--data-container img {
        width: 100%;
    }
    .profession_card--data-container {
        padding: 0px 24px 0px 24px;
    }
    .profession_card--info-container {
        display: block !important;
    }
    .profession_card--info-btn-container {
        margin-top: 30px;
        grid-column-gap: 60px;
    }
    .profession_card--info-txt {
        margin-top: 30px;
        grid-column-gap: 55px;
    }
    .profession_card--info-line-container {
        margin-top: 30px;
    }
    .profession_card--info-line {
        width: 100%;
    }
    .demo_lesson--container {
        padding: 0px 24px 0px 24px;
        margin: 60px 0px 60px 0px;
    }
    .demo_lesson--container iframe {
        width: 100%;
    }
    .entrepreneurship h1 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }
    .entrepreneurship--container {
        padding: 0px 24px 0px 24px;
    }
    .entry--card-container { 
        max-width: 100%;
    }
    .entrepreneurship--cards {
        display: block;
    }
    .entry--card-container-img img {
        width: 100%;
    }
}