@media screen and (max-width: 425px) {
    .padding_l_r--mobile {  padding: 0px 24px 0px 24px; }
    .display_none--mobile { display: none; }
    .backdrop_with_pattern { background: none; }
    .backdrop_with_pattern-second {
        background: 
            url("/assets/ico/gold_bounce.svg") no-repeat,
            url("/assets/ico/ico1.svg") no-repeat
        ;
        background-size: 140px, 186px;
        background-position: 
            right 24px top 0,
            right 24px top -50px
        ;
    }
    .card--image-container img { width: 100%; }
    .card--soon { width: 377px; }
    .card--contaienr {
        margin: 0px 0px 30px 0px;
    }
    .title_content--container { display: block; }
    .title {
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
    }
    .title_content--big_image img {
        width: 100%;
        margin-top: 35px;
    }
    .title_content p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
    .title_content--big_image-main {
        background: 
            url('/assets/ico/child.svg') no-repeat,
            url('/assets/ico/circle pink.svg') no-repeat,
            url('/assets/ico/circle orange.svg') no-repeat
        ;
        background-position: 
            right 0 top 0,
            right 0 top 0,
            right 100px bottom 95px
        ;
        background-size: 143px, 49px, 60px;
        height: 250px;
        width: 200px;
    }
    .title_content--images {
        display: none;
    }
    .title_content_main {
        max-width: 183px;
    }
    .title_content--buttons {
        margin-top: 100px !important;
    }
    .breadcrumb_child {
        display: none;
    }


    /* other */
    .information_about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        padding: 14px 0px 14px 0px;
        grid-row-gap: 20px;
    }


    .benefits {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
    }


    .news {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .container--box_small_image {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0px;
        margin-top: 40px;
    }


    .authorisation--form {
        width: 100%;
    }


    .calendar { display: none; }
    .calendar_mobile { display: block; }


    .user_profile--avatar {
        width: 105px;
        height: 105px;
    }
    .user_profile {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .user_profile--score {
        display: block;
        text-align: center;
        margin-top: 14px;
        color: #009DE2;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }
    .user_profile--data {
        margin: 0;
    }
    .scores--container {
        display: none;
    }


    .messanger--email {
        display: none;
    }
    .messanger_users {
        width: 100%;
    }


    .news_list h1 {
        font-weight: 600;
        font-size: 20px;
        line-height: 29px;
    }


    .page_selector--container {
        width: 100%;
    }
    .page_selector--title {
        display: none;
    }
    .page_selector--container p {
        text-align: center;
        width: 100px;
    }
}